figure {
    text-align: center;
    margin: 1em 0 2em;
    a {
        @include inline-block;
        text-decoration: none;
    }
}

.logo {
    height: 3em;
    margin-right: .5em;
}

nav {
    text-align: center;
}

.nav-list{
    @include inline-block;
    li {
        display: inherit;
        width: 6em;
        list-style: none;
        margin: .5em .25em;
        background: $primary;
        padding: .35em;
        border: solid $primary 3px;
        @include border-radius(.35em, .35em);
        @include box-sizing(border-box);
    }
    a {
        font-size: 1.25em;
        text-decoration: none;
        color: $white;
        &:hover {
            color: $primary;
            li {
                background: $white;
                border: solid $primary 3px;
            }
        }
    }
}
